APPLICATION:
  PORT: 8080
  SHORT_URL_LENGTH: 7
  ENVIRONMENT: DEVELOPMENT
  MAX_COLLISSION_RETRIES: 1
  LOG:
    LEVEL: debug
  KEY:
    RSA:
      PUBLIC:       
      PRIVATE: 
  GRACEFUL:
    MAX_SECOND: 5s

AUTH:
  JWT_TOKEN:
    EXPIRED: 24h

DB:
 POSTGRES:
    HOST: localhost
    NAME: postgres
    PORT: 5432
    USER: postgres
    PASS: password
    SSL: disable
    QUERY_TIMEOUT: 5s
    CONNECT_TIMEOUT: 10s
    POOL:
      MAX_CONNS: 10
      MIN_CONNS: 2
      MAX_CONN_LIFETIME: 1h
      MAX_CONN_IDLE_TIME: 15m
      HEALTH_CHECK_PERIOD: 2m
